<h1 class="project-name">Lean Mapper</h1>
<h2 class="project-tagline">Lean Mapper je malé ORM postavené nad knihovnou dibi (abstraktní databázovou vrstvou pro PHP)</h2>
<a class="btn" href="{{ '/' | prepend: site.baseurl }}">Úvod</a>
<a class="btn" href="{{ '/cs/' | prepend: site.baseurl }}">Dokumentace</a>
<a class="btn" href="{{ '/cs/quick-start/' | prepend: site.baseurl }}">Quick start</a>
<a class="btn" href="{{ '/cs/download/' | prepend: site.baseurl }}">Download</a>
<a class="btn" href="https://github.com/Tharos/LeanMapper">Github</a>
