.page-header-subpage .headerContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 1em 4em;
	padding: 0 1rem;
	align-items: center;
	justify-content: center;
	max-width: 75rem;
    margin: 0 auto;
    box-sizing: border-box;
}


@media only screen and (min-width: 40rem) {
	.page-header-subpage .headerContainer {
		justify-content: space-between;
		padding: 1rem 2rem;
	}
}


@media only screen and (min-width: 60rem) {
	.page-header-subpage .headerContainer {
	}
}
