.post {
	display: block;
}

.post__info {
	font-size: 87.5%;
	margin-bottom: 1em;
}

.post__author {
	font-weight: bold;
	display: inline-block;
}

.post__date {
	font-size: 87.5%;
	color: #666;
	display: inline-block;
}

.post__date:before {
	content: " / ";
}

.posts {
	display: grid;
	gap: 3rem 2rem;
}

.posts .post__perex {
	font-size: 87.5%;
}

.posts .post__info {
	margin-bottom: 0;
}

.posts .post--first {
	border-bottom: 2px solid #eee;
	padding-bottom: 2em;
}

.posts .post--first .post__title {
	font-size: 200%;
}

.posts .post--first .post__perex {
	font-size: 100%;
}

@media screen and (min-width: 42em) {
	.posts {
		grid-template-columns: repeat(2, 1fr);
	}

	.posts .post--first {
		grid-column: span 2;
	}
}

@media screen and (min-width: 60em) {
	.posts {
		grid-template-columns: repeat(3, 1fr);
	}

	.posts .post--first {
		grid-column: span 3;
	}
}
