---
layout: default
---
{% include breadcrumbs.html %}
<div class="post">
	<h1 class="post__title">{{ page.title }}</h1>

	<div class="post__info">
		<div class="post__author">{{ page.author }}</div>
		<div class="post__date">{{ page.date | date: "%-d. %-m. %Y" }}</div>
	</div>

	<div class="post__content">
		{{ content }}
	</div>
</div>

<hr>

<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
    this.page.identifier = '{{ page.url }}';
    };
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://leanmapper.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
